# Creating Arrays

## Using the `array` Function to Create an _ndarray_
- Although it is possible to create an _ndarray_ instance using `__new__()`, it is not the recommended approach
- The factory methods `array`, `zeros`, `ones`, and `empty` are preferred

In [ ]:
import numpy as np

In [ ]:
help(np.array)

- The _array_ function signature is:
```
       array(object, dtype=None, copy=True, order=None, subok=False, ndmin=0)
```       
- `object` is _array_like_
- If `dtype` is not given, how is the type determined?
- Can the `dtype` be used to downcast the data stored in `object`?
- Which numpy method should be used for downcasting data being put into an _ndarray_?
- Is the original object copied by default?
- What is the default order of the new _ndarray_? 

### Do Now!
* Create a 5 element list of large integers (`l1`)
* Print the list
* Create a one-dimensional array from the list (`a1`)
* Print the array

In [ ]:
l1 = [2**10 for x in range(5)]
print('l1 =', l1)

In [ ]:
a1 = np.array(l1)
print('a1 =', a1)
a1

- View the doc string of the NumPy asarray function

In [ ]:
help(np.asarray)

- Use the asarray function to create a new array (`a1x`) from `a1`
- Print the new array
- Modify an element of `a1`
- print both arrays and the list `l1`
- Is the result what you expected?

In [ ]:
a1x = np.asarray(a1)
print('a1x =', a1x)
a1x

In [ ]:
a1[1] = 100
print(l1)
print(a1)
print(a1x)

- View the datatype of `a1`
- Create a list of floating point numbers
- Create an array from the list
- View the datatype

In [ ]:
print('a1.dtype =', a1.dtype)

In [ ]:
m1 = [ 1.0, 2.0, 3.0]
m1

In [ ]:
am1 = np.asarray(m1)
am1.dtype

- Create a new list of 5 tuples with each tuple containing an integer and float
- Print the list
- Is the list a nested sequence?

In [ ]:
l2 = [(2 ** 54, 3.578 **10) for i in range(5)]
print('l2 =', l2)

- Create a new _ndarray_ from the list
- Print the array

In [ ]:
a2 = np.array(l2)
print('a2 =', a2)

- Print the number of elements in the array
- Print the data type of the elements
  - Note that the integers in the original list have been up-casted to float
- Print the size of the array elements
- Print the number of bytes used to store the array data
- Print the number of dimensions of the array
- Print the shape of the array
- Print the strides of the array (strides are the number of bytes traversed in order to move from element to element in one dimension or across dimensions)
- Print memory use information

In [ ]:
print('Number of elements, a2.size =', a2.size)
print('Data type of elements, a2.dtype =', a2.dtype)
print('Size of the array elements, a2.itemsize =', a2.itemsize)
print('Total number of bytes used to store array data, a2.nbytes =', a2.nbytes)
print('Number of dimensions, a2.ndim =', a2.ndim)
print('Shape of the array, a2.shape =', a2.shape, '==> a', a2.shape[0], 'x', a2.shape[1])
print('Strides of the array =', a2.strides)
print('Memory use information =', a2.flags)

## Using the `zeros` Function to Create an _ndarray_
- The `zeros` function, as its name suggest, creates an _ndarray_ containing all zeros
- Unlike the `array` function, `zeros` doesn't take source data
- `zeros` includes a `shape` parameter for specifying the dimensions of the created _ndarray_

### Do Now!
- View the doc string of the numpy *zeros* function

In [ ]:
help(np.zeros)

### Do Now!
- Create a one dimensional, five-element array of zeros of dtype int32 
- Print the array

In [ ]:
z1 = np.zeros(5, dtype='int32')
print('z1 =', z1)

- Create a two dimensional, 5x7, array of zeros of the default dtype
- Print the array
- Print the size and type of the elements
- Print the number of elements
- Print the total number of bytes required to store the data
- Print the number of dimensions

In [ ]:
z2 = np.zeros((5, 7))
print('z2 =', z2)

print('Size of elements, z2.itemsize =', z2.itemsize)
print('Type of elements, z2.dtype =', z2.dtype)
print('Number of elements, z2.size =', z2.size)
print('Total number of data bytes, z2.nbytes =', z2.nbytes)
print('Number of dimensions, z2.ndim =', z2.ndim)

## Using the `ones` Function to Create an `ndarray`
- The `ones` function works just like the `zeros` function except that it creates an _ndarray_ containing all ones

### Do Now!
- View the doc string of the numpy `ones` function

In [ ]:
help(np.ones)

- Create a four dimensional, 2x3x4x5, array of ones of type `complex64`
- Print the array

In [ ]:
o1 = np.ones((2, 3, 4, 5), dtype=np.complex64)
print('o1 =', o1, '\n')

- Print the size and type of the elements
- Print the number of elements
- Print the total number of bytes required to store the data
- Print the number of dimensions
- Print the shape of the array

In [ ]:
print('Size of elements, o1.itemsize =', o1.itemsize)
print('Type of elements, o1.dtype =', o1.dtype)
print('Number of elements, o1.size =', o1.size)
print('Total number of data bytes, o1.nbytes =', o1.nbytes)
print('Number of dimensions, o1.ndim =', o1.ndim)
print('The shape of the array, o1.shape =', o1.shape)

## Other Functions for Creating *ndarray*s

### `np.arange`
- View the doc string for `np.arange`
- Print out an _ndarray_ with elements ranging from 5 to 25 with a step of 4

In [ ]:
help(np.arange)

In [ ]:
print('arange array =', np.arange(5, 25, 4))

### `np.linspace`
- View the doc string for `np.linspace`
- Print an array of 50 numbers spaced over the interval 1 to 25

In [ ]:
help(np.linspace)

In [ ]:
print('Evenly spaced array =', np.linspace(1, 25))

# End of Notebook